/* Services Page Specific Styles */

/* Hero Section */
.hero {
    position: relative;
    background: url('CleanHouse.jpg') no-repeat center center;
    background-size: cover; /* Default to covering smaller screens */
    background-color: black;
    color: #fff;
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Large Screens - Contain Background with Black Margins */
@media (min-width: 1680px) {
    .hero {
        background-size: contain; /* Keeps the image contained */
        width: 100%;
        max-width: none;
        margin: 0 auto;
    }
}

/* Services Content */
.services-content {
    max-width: 800px;
    margin: 100px auto 50px;
    padding: 0 1rem;
    text-align: center;
}

.services-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #dd4632;
}

.service {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-content {
    padding: 1.5rem;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    overflow-y: auto;
    max-height: 50vh;
}

.service-content h2 {
    font-size: 2rem;
    color: #dd4632;
}

.service-content p {
    font-size: 1rem;
    line-height: 1.8;
    color: #f1f1f1;
}

/* Background Images for Each Service */
#general-cleaning {
    background-image: url('General.jpg');
}

#deluxe-detail {
    background-image: url('WashingBaseboards.jpg');
}

#delightful-detail {
    background-image: url('Cobwebs.jpg');
}

#window-washing {
    background-image: url('WindowCleaning.jpg');
}

/* Services Page Hen Pattern */
.services-body-margins {
    position: fixed;
    top: 80px;
    bottom: 10px;
    z-index: 1;
    pointer-events: none;
    background-repeat: repeat;
    opacity: 0.5;
}

@media (min-width: 3200px) {
    .services-body-margins {
        width: 31.1%;
    }
    .services-body-margins.left {
        left: 21px;
        background-image: url('HenCleaning2.png');
        background-size: 100px auto;
    }
    .services-body-margins.right {
        right: 21px;
        background-image: url('HenCleaning1.png');
        background-size: 100px auto;
    }
}

@media (max-width: 1680px) {
    .services-body-margins {
        display: none;
    }
}
